# Dependencies
node_modules/

# Build output
build/
static/

# react-snap pre-rendered routes
200.html
404.html
asset-manifest.json

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env
*.local
dist
dist-ssr

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
